.menu-edit-wrapper {
  width: 532px;
  height: 456px;
  overflow-y: auto;
  border: 1px solid #000000;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 20px 16px;
}

.menu-edit-button-wrapper {
  margin-top: 10px;
  height: 30px;
  display: flex;
  justify-content: center;
}

.menu-edit-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 10px;
}

.menu-field-wrapper {
  width: 100%;
  height: auto;
  padding: 14px 0;
  position: relative;
}

.menu-field-wrapper:last-of-type {
  padding-bottom: 0;
}

.menu-field-fixed-wrapper {
  display: flex;
  align-items: center;
  height: 36px;
}

.menu-field-label {
  width: auto;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  display: block;
  margin-bottom: 15px;
}

.menu-field-label-fixed {
  width: auto;
  font-weight: 700;
  font-size: 15px;
  display: block;
}

.menu-field-input {
  width: 100%;
  padding: 5px 10px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  height: 30px;

  border: 1px solid #000000;
  border-radius: 5px;
}

.menu-field-value-fixed {
  margin-left: 80px;
  flex-grow: 1;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  display: block;
}

.menu-field-input-unit {
  position: absolute;
  right: 5px;
  bottom: 0px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;

  width: 14px;
  height: 60px;
  display: flex;
  align-items: center;
}

.menu-field-textarea {
  width: 100%;
  padding: 5px 10px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  height: 70px;

  border: 1px solid #000000;
  border-radius: 5px;
  resize: none;
}
