.menu-reviews-wrapper {
  width: calc((100% - 20px) * 0.55);
  min-width: 320px;
  height: calc(100vh - 120px);
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 15px 20px;
}

.menu-review-rating-wrapper {
  display: flex;
  align-items: center;
}

.menu-reviews-rating-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-right: 5px;
}

.menu-reviews-rating {
  font-size: 25px;
  color: #f0975e;
  margin-right: 5px;
}

.menu-reviews-rating-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
