.menus-new-page-wrapper {
  width: 100%;
  min-width: 700px;
  height: calc(100vh - 80px);
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
