.card-wrapper {
  width: 200px;
  height: 200px;
  border: 1px solid #000000;
  padding: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.wrapper:hover {
  background: #e0eafc;
}

.store-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  height: 24px;
  overflow: auto;
}

.user-name {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  color: #8a8a8a;
  overflow: auto;
}

.store-desc {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  height: 80px;
  overflow: auto;
  margin-top: 10px;
}

.stars {
  margin-top: 10px;
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f0975e;
  font-size: 25px;
}
