.menu-item-wrapper {
  width: 100%;
  height: 41px;
  border-bottom: 1px solid #000;

  display: flex;
}

.menu-item-wrapper:hover {
  cursor: pointer;
  /* TODO: important 제거 -> 이 때 인라인 스타일 때문에 얘가 적용이 안됨 howto */
  background: #ffd2d2 !important;
}

.menu-item-id {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 56px;

  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.menu-item-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 340px;
  margin-left: 15px;

  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.menu-item-price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  margin-left: 15px;

  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}
