.gnb-wrapper {
  min-width: 700px;
  flex-grow: 1;
  width: 100%;
  height: 80px;
  padding: 0 28px 0 10px;
  border-bottom: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gnb-title-wrapper {
  display: flex;
  align-items: center;
}

.gnb-img-wrapper {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.gnb-img {
  width: 100%;
  height: 100%;
}

.gnb-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  align-items: center;
}

.gnb-selected {
  display: flex;
  flex-direction: column;
}

.gnb-title-sm {
  width: 136px;
  height: 17px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.gnb-store {
  display: flex;
  margin-top: 3px;
  align-items: baseline;
}

.gnb-store-name {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  height: 32px;
  align-items: baseline;
  display: flex;
}

.gnb-username {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: baseline;
  color: #8a8a8a;
  margin-left: 7px;
}

.gnb-auth-wrapper {
  display: flex;
  align-items: center;
}

.gnb-greeting {
  font-size: 15px;
  line-height: 20px;
  margin-right: 15px;
}
