.menu-review-wrapper {
  width: 100%;
  height: 81px;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 7px 13px;
  overflow: auto;
}

.menu-review-header {
  display: flex;
}

.menu-review-username {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.menu-review-rating {
  font-size: 20px;
  line-height: 20px;
  color: #f0975e;
  margin-left: 8px;
}

.menu-review-time {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #8a8a8a;
  margin-left: 8px;
}

.menu-review-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-top: 6px;
}

.menu-review-action {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.menu-review-update {
  margin-right: 5px;
}